.timeline {
  padding-left: 200px;
  padding-top: 5px;
  padding-bottom: 50px;
  padding-right:100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 70px;
  margin-left: 5px;
  height: 100;
  width: 70%;
  display: block;
  color: black;
  background: gray;
  width: 50;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}

@font-face {
  font-family: "chathurabold";
  src: url("../font/chathura_bold_macroman/chachathura-bold-webfont.eot");
  font-weight: normal;
  font-style: normal;
}


.Norman_Borlaug {
  display: block;
  color: black;
  background: grey;
  padding-right:100px;
}


img {
  padding-left: 500px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

nav {
  display: inline;
  width: 100%;
  text-align: center;
  
}

nav a {
    display: inline;
    padding: 10px 20px;
}

.audio {
    padding-left: 750px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

}
